<!DOCTYPE html>
<html lang="en" ng-app="aiProjectBuilder">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superprompt</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        pre { white-space: pre-wrap; }
        body {
            background-color: #f9fafb;
        }
        .build-with-ai-button-container {
            margin-top: 1rem;
        }
        .tab {
            padding: 0.5rem 1rem;
            cursor: pointer;
            border: 1px solid transparent;
            border-color: #e5e7eb;
        }
        .active-tab {
            border-color: #d1d5db;
            border-bottom-color: transparent;
            background-color: white;
        }
        @keyframes blink {
            0%, 100% {
                opacity: 1;
            }
            50% {
                opacity: 0.5;
            }
        }
        .blink {
            animation: blink 1s linear infinite;
        }
        .fade {
            transition: opacity 1s ease-in-out;
            opacity: 0;
        }
        .content-area {
            background-color: white;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            border: 2px solid black;
            padding: 20px;
        }
        .results-area {
            background-color: #e7f3ff;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            border: 2px solid #333;
            padding: 20px;
        }
        .active-template-type {
            background-color: #60a5fa; /* Tailwind blue-400 */
            color: white;
        }
    </style>
    <script src="static/angular.min.js"></script>
    <script src="static/angular-sanitize.min.js"></script>
    <script src="static/app.js"></script>
    <script src="static/mainController.js"></script>
    <script src="static/mainControllerUtils.js"></script>
</head>
<body ng-controller="MainController">
    <div class="max-w-xl mx-auto p-5">
        <div class="flex border-b">
            <div class="tab" ng-repeat="tab in inputTabs" ng-class="{'active-tab': activeTab === tab.id}" ng-click="activateTab(tab.id)" ng-bind="tab.title"></div>
            <div class="tab" ng-class="{'active-tab': activeTab === 'jsonTab'}" ng-click="activateTab('jsonTab')">JSON</div>
            <div class="tab" ng-class="{'active-tab': activeTab === 'historyTab'}" ng-click="activateTab('historyTab')">History</div>
            <div class="tab" ng-click="addInputTab()">+</div>
        </div>
        <div ng-repeat="tab in inputTabs" ng-show="activeTab === tab.id" ng-class="fadeClass" class="content-area">
            <form class="space-y-6 py-5" ng-submit="submitForm(tab)">
                <div>
                    <label for="tabTitle{{tab.id}}" class="block text-sm font-medium text-gray-700">Title</label>
                    <input type="text" id="tabTitle{{tab.id}}" name="tabTitle" ng-model="tab.title" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                </div>
                    <div class="bg-white p-4 rounded-lg shadow-lg">
                        <ul class="flex border border-gray-300 rounded-lg overflow-hidden">
                            <li ng-repeat="thing in templateTypes" class="tab flex-1 text-center p-2 cursor-pointer" ng-click="selectTemplateType(tab, thing)" ng-class="{'active-template-type': tab.activeTemplateType == thing}" ng-bind="thing"></li>
                        </ul>
                    </div>
                <div ng-show="tab.activeTemplateType === 'Create'">
                  <div>
                      <label for="aiInput{{tab.id}}" class="block text-sm font-medium text-gray-700">Type in what you want AI to create</label>
                      <textarea id="aiInput{{tab.id}}" name="aiInput" ng-model="tab.formData.aiInput" placeholder="E.g., A short story about space exploration" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" rows="4"></textarea>
                  </div>
                  <div>
                      <label for="mustHaves{{tab.id}}" class="block text-sm font-medium text-gray-700">Describe any 'must-haves'</label>
                      <textarea id="mustHaves{{tab.id}}" name="mustHaves" ng-model="tab.formData.mustHaves" rows="4" placeholder="E.g., Include a talking robot and a twist ending" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"></textarea>
                  </div>
                  <div>
                      <label for="supportingText{{tab.id}}" class="block text-sm font-medium text-gray-700">Copy and paste supporting text</label>
                      <textarea id="supportingText{{tab.id}}" name="supportingText" ng-model="tab.formData.supportingText" rows="4" placeholder="E.g., Background information or context related to the request" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"></textarea>
                  </div>
                  <div class="build-with-ai-button-container">
                    <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" ng-class="{'blink': tab.isBlinking}">{{ tab.buttonText }}</button>
                  </div>
                </div>
                <div ng-show="tab.activeTemplateType === 'Extract'">
                  <div>
                      <label for="aiInput{{tab.id}}" class="block text-sm font-medium text-gray-700">Type in what you want AI to extract</label>
                      <textarea id="aiInput{{tab.id}}" name="aiInput" ng-model="tab.formData.aiInput" placeholder="E.g., A short story about space exploration" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" rows="4"></textarea>
                  </div>
                  <div class="build-with-ai-button-container">
                    <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" ng-class="{'blink': tab.isBlinking}">{{ tab.buttonText }}</button>
                  </div>
                </div>
                <div ng-show="tab.activeTemplateType === 'Document'">
                  <div>
                      <label for="aiInput{{tab.id}}" class="block text-sm font-medium text-gray-700">Paste in any information you want to use later</label>
                      <textarea id="aiInput{{tab.id}}" name="aiInput" ng-model="tab.formData.aiInput" placeholder="E.g., A short story about space exploration" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" rows="4"></textarea>
                  </div>
                </div>
            </form>
            <div ng-if="tab.resultsData" class="results-display">
                <p style="font-family: 'Arial', sans-serif; font-size: 1.2em; padding: 10px; border-radius: 8px;">
                    <strong>Final Output 📄:</strong>
                    <pre ng-bind-html="tab.resultsData.result"></pre>
                </p>
                <br />
                <p style="font-family: 'Arial', sans-serif; font-size: 1.2em;">
                    <strong>Iterations:</strong> {{ tab.resultsData.iterations }} 🔄
                </p>
                <div>
                    <strong>Prompts Used:</strong>
                    <ul style="font-family: 'Arial', sans-serif; font-size: 1.2em; list-style-type: circle; padding-left: 20px;">
                        <li ng-repeat="prompt in tab.resultsData.all_prompts track by $index">{{ prompt }}</li>
                    </ul>
                </div>

                <div>
                    <strong>Attributes:</strong>
                    <ul style="font-family: 'Arial', sans-serif; font-size: 1.2em; list-style-type: circle; padding-left: 20px;">
                        <li ng-repeat="(attr, value) in tab.resultsData.info track by $index">{{ attr }}: {{ value }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div ng-show="activeTab === 'jsonTab'" class="content-area">
            <button ng-click="saveJsonDataToDB()" class="mt-2 w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                Save JSON Data
            </button>
            <h3 class="text-lg font-medium text-gray-700">JSON Data Structure</h3>
            <pre class="mt-1 block w-full p-3 border border-gray-300 rounded-md shadow-sm bg-gray-50">{{ jsonData | json }}</pre>
        </div>
        <div ng-show="activeTab === 'historyTab'" class="content-area">
            <h3 class="text-lg font-medium text-gray-700">History</h3>
            <div ng-repeat="savedSetup in savedSetups track by savedSetup.id" class="mt-1 block w-full p-3 border border-gray-300 rounded-md shadow-sm bg-gray-50">
                <p><strong>ID:</strong> {{ savedSetup.id }}</p>
                <p><strong>Name:</strong> {{ savedSetup.name }}</p>
                <p><strong>Timestamp:</strong> {{ savedSetup.timestamp | date:'medium' }}</p>
                <p><strong>{{ savedSetup.setup_data.inputTabs.length }} {{ savedSetup.setup_data.inputTabs.length | pluralize:'tab':'tabs' }}:</strong> {{ getTabTitles(savedSetup) }}</p>
                <button ng-click="loadSavedSetup(savedSetup)" class="ml-2 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                    Load
                </button>
            </div>
        </div>
</body>
</html>
